{% extends "base.html" %}
{% block content %}

<style>
  body{
    background-image:url('https://raw.githubusercontent.com/jeffbauerle/MTB-Trail-Recommender/master/web_app/static/trail_background.jpg');
    width:100%;

    background-size: cover;
  }

  @media only screen and (max-width: 600px) {
      body {
          background-size: auto;
      }
  }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.img-thumbnail {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.region_container {
  position: relative;
  text-align: center;  
  padding: 5px;  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.region_text {
  color:white;
  font-size:2em;
  font-weight: bold;
}

</style>
  
<main role="main" class="container">
  <div class="">
    <h1 class="text-center" style="color:white">MTB Trail Recommender</h1>
    <p style="color:white" class="lead">Select your favorite region.</p>
        
    <div class="d-flex flex-wrap">
    {% for key,value in regions.items() %}        
    <div class="region_container">
      <a href="/region?region={{key}}">
        <img src="../static/{{key}}.jpg" alt="{{value}}" class="img-thumbnail">
        <div class="centered region_text">{{value}}</div>
      </a>
    </div>      
    {% endfor %}     
    </div>      
  </div>
</main>
{% endblock %}