{% extends "base.html" %}
{% block content %}
<input id="trailsUrl" type="hidden" value="{{ url_for('get_trails') }}">

<div class="main" style="padding: 20px 25% 20px 25%;">
    <h1>{{ region_name }} </h1><br>
  <h3><b>Get recommendations of trails to ride based on a trail you know like:</b></h3>
<br>

<form action='/recommendations', method='POST'>

    <!---STEP 1 -->
    <div>
       <h4><b>Step 1: Choose a trail that you know you liked at that region.</b></h4>  

        <select name="trail" id="select_trail" class="selectpicker form-control">
            <option selected="selected" value = ''>Select your favorite trail...</option>
            {% for trail in trails %}
            <option value="{{ trail.id }}">{{ trail.name }}</option>
            {% endfor %} 
        </select>
   </div>   
   <br><br>
    <h2>Destination Region</h2>
    <br>
    <!---STEP 2 -->
    <div>
       <h4><b>Step 2: Choose a region where you would like to ride.</b></h4>   

        <select name="region" id="select_region" class="selectpicker form-control">
            <option selected="selected" value = ''>Select the destination region...</option>
            {% for region in regions %}
            <option value="{{ region.value }}">{{ region.text }}</option>
            {% endfor %} 
        </select>
    </div>  
<br>
    <input type="submit" value="Get Recommendations">
</form>
</div>



{% endblock %}
